<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lilike.springcloud.dao.TbAcountDao">

	<select id="findAll" resultType="com.lilike.springcloud.entity.TbAcount">
		select * from tb_acount
	</select>

	<insert id="insertAcount" parameterType="TbAcount">
		insert into tb_acount(username,money) values (#{username},#{money});	
	</insert>


</mapper>